.global-search .search-content{
    height: 40px;
    font-size: 20px;
}
.global-search .search-div{
    margin-top: 20px;
}
.global-search .search-icon:hover{
    background-color: rgb(192, 192, 192);
}
