.operation .operation-type{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    border: solid black 1px;

    box-shadow: 0 0 3px black;
}
.operation .operation-type{
    background-color: cornsilk;
}
.operation .operation-type:hover{
    background-color: cornsilk;
    
    box-shadow: 0 0 5px black;
}